/* ====MODO ESCURO ===*/
:root{
    --bg-color: black;
    --text-color:white;
    --gray: #a5a5a5;
    --dark: #333333;
    --orange: #ff9500;
    --btn-text-dark: black;
}
/*===MODO CLARO===*/
@media(prefers-color-scheme: light){
    :root{
        --bg-color: #f2f2f2;
    --text-color:black;
    --gray: #d4d4d4;
    --dark: #e0e0e0;
    --orange: #ff9500;
    --btn-text-dark: black;
}
    }
body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

.calculator{
    width: 100%;
    max-width: 420px;
    background-color: var(--bg-color);
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
}

.display{
    color: var(--text-color);
    text-align: right;
    padding: 10px 20px 20px;
    overflow: hidden;
    height: 25vh;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.history{
   
    font-size: clamp(14px, 2vh, 20px);
    min-height: 40px;
    color: rgba(255, 255, 255, 0.6);
}

@media(prefers-color-scheme: light){
    .history{
        color: rgba(0, 0, 0, 0.6);
    }
}

.main-display{
    font-size: clamp(40px, 6vw, 65px);
    line-height: 1;
    word-wrap:break-word;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(8px, 2vw, 12px);
    margin-top: 10px;
}

.btn{
    height: clamp(60px, 12vw, 80px);
    border: none;
    border-radius: 50%;
    font-size: clamp(20px, 4vw, 32px);
    cursor: pointer;
    color: white;
    background-color: var(--dark);
    transition: transform 0.1s, filter 0.1s;
}
.btn:active{
    transform: scale(0.92);
    filter:brightness(1.3);
}

.orange{
    background-color: var(--orange);
}
.gray{
    background-color: var(--gray);
    color: var(--btn-text-dark)
}
.dark{
    background-color: var(--dark);
    color: var(--text-color);
}
.zero{
    grid-column: span 2;
    border-radius: 35px;
    text-align: left;
    padding-left: 30px;
}

@media (max-height: 600px){
    .display{
        height: 18vh;
    }
    .btn{
        height: clamp(50px, 10vw, 60px);
    }
}

@media (min-width: 1200px){
    .calculator{
        max-width: 520px;
    }
}