/* ====MODO ESCURO ===*/
:root{
    --bg-color: black;
    --text-color:white;
    --gray: #a5a5a5;
    --dark: #333333;
    --orange: #ff9500;
    --btn-text-dark: black;
}
/*===MODO CLARO===*/
@media(prefers-color-scheme: light){
    :root{
        --bg-color: #f2f2f2;
    --text-color:black;
    --gray: #d4d4d4;
    --dark: #e0e0e0;
    --orange: #ff9500;
    --btn-text-dark: black;
}
    }
body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Helvetica Neue", sans-serif;
}

.calculator{
    width: 320px;
    background-color: var(--bg-color);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.display{
    color: var(--text-color);
    text-align: right;
    padding: 10px 20px 20px;
    overflow: hidden;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.history{
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    min-height: 60px;
    overflow-y: auto;
    text-align: right;
}

@media(prefers-color-scheme: light){
    .history{
        color: rgba(0, 0, 0, 0.6);
    }
}

.main-display{
    font-size: 60px;
    line-height: 1;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.btn{
    height: 70px;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
    color: white;
    background-color: var(--dark);
    transition: transform 0.1s, filter 0.1s;
}
.btn:active{
    transform: scale(0.92);
    filter:brightness(1.3);
}

.orange{
    background-color: var(--orange);
}
.gray{
    background-color: var(--gray);
    color: var(--btn-text-dark)
}
.dark{
    background-color: var(--dark);
    color: var(--text-color);
}
.zero{
    grid-column: span 2;
    border-radius: 35px;
    text-align: left;
    padding-left: 30px;
}